h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 6rem;
  background: linear-gradient(to right, #0099ff,#ffff00,#0099ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  color: red;
}
h3 {
  color: white;
  background: orange;
}
h4 {
  color: yellow;
  background: yellow;
}
h5 {
  color: green;
  background: green;
}
h6 {
  color: blue;
  background: blue;
}
.ohio {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.class {
  font-family: Arial, Helvetica, sans-serif;
  color: blue
}
#skibidiohiorizzler {
  background: black;
  font-family: cursive;
}  
.class1 {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 346;
  font-style: normal;
}

.sampleclass {
  font-family: Helvetica;
}